{{> head}}
{{> navbar}}
<div class ="row">
    <div class="col-8">
        <h1>
            About Page
        </h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod iure ducimus est,
             tenetur nemo excepturi odit rem quae, delectus dolor exercitationem quis fugit, 
             officia harum vero voluptatibus? Eligendi, facilis architecto? 
        </p>
    </div>
    <div class="col-4">
        <img src="../asset/images/images.jpg" alt="" class="img-thumbnail">
    </div>
</div>
{{> footer}}